
:root {
  --font-size-sm: clamp(0.73rem, calc(0.70rem + 0.12vw), 0.80rem);
  --font-size-base: clamp(0.88rem, calc(0.83rem + 0.22vw), 1.00rem);
  --font-size-xbase: clamp(1.05rem, calc(0.98rem + 0.35vw), 1.25rem);
  --font-size-md: clamp(1.26rem, calc(1.15rem + 0.53vw), 1.56rem);
  --font-size-lg: clamp(1.51rem, calc(1.36rem + 0.77vw), 1.95rem);
  --font-size-xl: clamp(1.81rem, calc(1.60rem + 1.09vw), 2.44rem);
  --font-size-xxl: clamp(2.18rem, calc(1.87rem + 1.52vw), 3.05rem);
  --font-size-xxxl: clamp(2.61rem, calc(2.19rem + 2.09vw), 3.82rem);
  --font-size-xxxxl: clamp(3.14rem, calc(2.57rem + 2.84vw), 4.77rem);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: var(--font-size-base) ;
  font-weight: 400;
  line-height: 27px;
}

 textarea{
  font-family: inherit;
  font-size: var(--font-size-base) !important;
  font-weight: inherit;
  line-height: inherit;
}

label {
  font-size: var(--font-size-sm) !important;
}


a {
  text-decoration: none !important;
}


.Menu_Container {
  max-width: 80%;
  margin: 0 auto;

}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;

}


/* Editor styling */

.codex-editor__redactor {
  min-height: 300px;
  padding-bottom: 100px !important;
}

.css-dak8gs{
  overflow-y: hidden !important;
}

.ce-block__content {
  max-width: 800px;
  margin: 0 ;
}

.ce-toolbar__actions{
  margin: 0;
  max-width: 800px;
  margin-left: -50px;
}

.ce-toolbar__content {
  max-width: 800px;
  margin: 0 ;
}

.ce-block__content h1 {
  font-size:var(--font-size-lg);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.ce-block__content h2 {
  font-size: var(--font-size-md);
  font-weight: 650;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0;
}

.ce-block__content h3 {
  font-size: var(--font-size-xbase);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0;

}

.ce-block__content h4 {
  font-size: var(--font-size-base);
  font-weight: 600;
  line-height: 1.2;
 margin-bottom: 0.8rem;
}

/* .ce-block__content h5 {
  font-size: var(--font-size-md);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.7rem;
}

.ce-block__content h6 {
  font-size: var(--font-size-sm);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.7rem;
} */

.ce-paragraph.cdx-block {
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  padding: 0;
  /* margin-top: 0.5rem; */
}

 .ce-block a {
  text-decoration: underline !important;
  text-decoration-color:  blue !important;
  color: blue !important;

}

.inline-code {
  color: black;
  background: #E5E5E5;

}

.ce-rawtool__textarea.cdx-input {
  min-height: 100px !important;
  overflow: hidden;
 }


/* Code */
.codeflask.codeflask--has-line-numbers:before{
  z-index: 0 !important;
}

.codeflask__lines{
  z-index: 0 !important;
}

.codeflask--has-line-numbers .codeflask__textarea{
  color: white !important;

}
.codeflask__flatten{
  z-index: 0 !important;
  font-size: medium !important;
  color: white !important;
  
}

.codeflask--has-line-numbers .codeflask__flatten {
  overflow-y: hidden;
}

.editorjs-codeFlask_Wrapper{
  background: #0F172A;
  min-height: 100px;
  margin-bottom: 40px;
  margin-top: 20px;
}

  
/* Media Queries */
@media screen and (max-width: 650px) {

  .ce-toolbar__actions{
    margin: 0;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: -30px;
  }

  #editor {
    width: 100%;
  }

  .ce-toolbar {
    position: absolute;
    left: 0px;
    top: 50px;
    -webkit-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
    will-change: opacity, top;
    
 
  }
    
  .ce-popover__items {
    display: flex;
    /* flex-direction: column; */
    padding: 10px 0  10px 0;
    gap: 10px;
  }

  .ce-popover__item-label {
    display: none;
  }

  
 }