
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  min-height: 100vh;
}

a {
  text-decoration: none !important;
}


.Menu_Container {
  max-width: 80%;
  margin: 0 auto;

}



/* Editor styling */

.css-dak8gs{
  overflow-y: hidden !important;
}

.ce-block__content {
  max-width: 800px;
  margin: 0 ;
}

.ce-toolbar__actions{
  margin: 0;
  max-width: 800px;
  margin-left: -50px;
}

.ce-toolbar__content {
  max-width: 800px;
  margin: 0 ;
}

.ce-block__content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.ce-block__content h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.ce-block__content h3 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.8rem;

}

.ce-block__content h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
 margin-bottom: 0.8rem;
}

.ce-block__content h5 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.7rem;
}

.ce-block__content h6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.7rem;
}

.ce-paragraph {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}

 .ce-block a {
  text-decoration: underline !important;
  text-decoration-color:  blue !important;
  color: blue !important;

}

.inline-code {
  color: black;
  background: #E5E5E5;

}

/* Code */
.codeflask.codeflask--has-line-numbers:before{
  z-index: 0 !important;
}

.codeflask__lines{
  z-index: 0 !important;
}

.codeflask--has-line-numbers .codeflask__textarea{
  color: white !important;

}
.codeflask__flatten{
  z-index: 0 !important;
  font-size: medium !important;
  color: white !important;
  
}

.codeflask--has-line-numbers .codeflask__flatten {
  overflow-y: hidden;
}

.editorjs-codeFlask_Wrapper{
  background: #0F172A;
  min-height: 100px;
  margin-bottom: 40px;
  margin-top: 20px;
}


  

/* Media Queries */
@media screen and (max-width: 650px) {

  .ce-block__content h1  {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .ce-block__content h2 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .ce-block__content h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .ce-block__content h4 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .ce-block__content h5 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .ce-block__content h6 {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .ce-block__content p {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .ce-toolbar__actions{
    margin: 0;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: -30px;
  }

  #editor {
    width: 100%;
  }

  .ce-toolbar {
    position: absolute;
    left: 0px;
    top: 50px;
    -webkit-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
    will-change: opacity, top;
    
 
  }
    
  .ce-popover__items {
    display: flex;
    /* flex-direction: column; */
    padding: 10px 0  10px 0;
    gap: 10px;
  }

  .ce-popover__item-label {
    display: none;
  }

  
 }